body{
    margin: 0;
}
h1{
    font-size: 3.5rem;
}
p{
    font-size: 1.25rem;
}
span{
    color: #FF0000;
}
nav{
    background: #424141;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
nav img{
    width: 6.25rem;
}
nav li{
    display: inline;
    padding: 0 .625rem;
}
.banner{
    display: flex;
    padding: 6.25rem 9.375rem;
    color: white;
    background:#161616;
    align-items: center;
    gap: 3.125rem ;
}
.banner img{
    width: 400px;
}
.button{
    background-color: #FF0000;
    padding: .9375rem 1.875rem;
    border: none;
    color: white;
    border-radius: .3125rem;
}